:root {
  --color-01: #252525;
  --color-02: #302411;
  --color-03: #423a3a;
  --color-04: #aa803c;
  --color-05: #937c55;
  --color-06: #a78e67;
  --color-07: #c0b299;
  --color-08: #d6d3c8;
  --color-09: #fff;
  --color-10: #0b5ed7;
}
