* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.header-menu {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-bottom: 2px solid var(--color-08);
}

.header-menu img {
  max-width: 80px;
}
.produtos-menu {
  height: 80px;
  width: 100%;
  border-bottom: 2px solid var(--color-08);
}
.produtos-nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.produtos-nav li a {
  color: var(--color-02);
  cursor: pointer;
}
.container-cap {
  background-color: var(--color-09);
  height: 70vh;
}
.produtos-cap {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 100%;
}
.produto-item {
  padding-left: 20px;
  height: 140px;
  background-color: var(--color-05);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.produto-item h3 {
  border-bottom: 3px solid var(--color-02);
  padding-bottom: 10px;
}

.bebidas-img {
  max-width: 200px;
  object-fit: cover;
}
.produtos-texto,
.bebidas {
  height: 100%;
}
.produtos-texto {
  background-color: var(--color-08);
  width: 400px;
  height: 100%;
  border: 2px solid var(--color-07);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bebidas {
  max-width: 100%;
  padding: 40px;
  background-color: blueviolet;
  display: grid;
  justify-items: center;
  gap: 5px 90px;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
.bebidas h1 {
  grid-column: 1/-1;
  justify-self: flex-start;
}
